.row div {
  background-color: ;
  border-style: solid;
  border-color: white;
}

h1 {
  padding-top:50px;
  font-size: 200px;
}

.door1 {
  padding-top: 50px;
  padding-left: 100px;
}

.door2{
  width: 80%;
  padding-top: 50px;
}

.door3{
  width: 80%;
  padding-top:50px;
}

.col-md-8 {
  padding-top: 200px;
  padding-bottom: 50px;
}

h2 {
  font-size: 100px;
}
